.filter {
  border-width: 0 0 0 1px;
  border-left-style: solid;
  border-color: #e8e8e8;
  margin: 0;
  padding: 0 0 0 29px;
  background-color: transparent;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: #000000;
}
.filter__checkbox {
  margin: 0 14px 0 0;
  padding: 0;
  cursor: pointer;
  min-width: 36px;
  min-height: 20px;
  width: 36px;
  height: 20px;
  background-color: #e8e8e8;
  border-radius: 20px;
  border: none;
  background-image: url(../../images/circle_chkb.svg);
  background-position: -50% 30%;
  background-repeat: no-repeat;
  background-size: 80%;
}
.checked {
  background-position: 150% 30%;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #2be080;
  border: none;
}
@media screen and (max-width: 650px) {
  .filter {
    border: none;
    grid-area: filter;
    align-self: center;
    justify-self: center;
  }
}
@media screen and (max-width: 343px) {
}
