.login {
  padding: 70px min(22%, 442px);
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}
.login__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 60px 0;
}
.login__label {
  font-family: "Inter", "Suisse Intl", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin: 0 0 10px 0;
  padding: 0;
}
.login__input {
  background: #f9f9f9;
  border-radius: 8px;
  border: none;
  margin: 0 0 20px 0;
  padding: 15px 15px;
  width: 100%;
  box-sizing: border-box;
}
.login__input:last-child {
  margin: 0 0 10px 0;
}
.login__logo {
  margin: 70px 0 40px 0;
  padding: 0;
  background-image: url(../../images/logo.svg);
  min-width: 38px;
  min-height: 38px;
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: contain;
}
.login__button {
  font-family: "Inter", "Suisse Intl", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  justify-self: center;
  text-align: center;
  color: #ffffff;
  width: 396px;
  height: 45px;
  background-color: #2be080;
  border-radius: 3px;
  border: none;
  margin: 0 0 16px 0;
}
.login__button:hover {
  opacity: 0.6;
}
.login__error {
  font-family: "Inter", "Suisse Intl", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  padding: 0;
  margin: 0 0 69px 0;
}
.login__description {
  font-family: "Inter", "Suisse Intl", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

.login__link {
  font-family: "Inter", "Suisse Intl", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2be080;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  margin: 0 0 0 6px;
}
@media screen and (max-width: 768px) {
  .login {
    padding: min(35%, 232px) min(9%, 186px);
  }
  .login__title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 343px) {
  .login__logo {
    align-self: center;
  }
  .login {
    padding: 56px min(9%, 30px) 30px min(9%, 30px);
  }
  .login__title {
    margin-bottom: 80px;
    align-self: center;
  }
  .login__error {
    margin: 0 0 157px 0;
  }
  .login__button {
    width: 260px;
    margin: 0 0 14px 0;
  }
}
